.accueil {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-primary);

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;

        @media screen and (max-width: $breakpoint-sm) {
            flex-direction: column;
            transition: 0.5s ease-out;
        }

        .video_boite {
            position: relative;

            @media screen and (max-width: $breakpoint-sm) {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                transition: 0.5s ease-out;
                gap: 20px;
            }

            .titre {
                background: var(--color-secondary);
                color: var(--color-bg-primary);
                width: fit-content;
                display: flex;
                flex-flow: column;
                align-items: center;
                padding: 25px;
                gap: 20px;
                position: absolute;
                left: 5%;
                border: var(--color-accent) 4px solid;
                z-index: 8;
                transition: 0.5s ease-out;

                @media screen and (max-width: $breakpoint-sm) {
                    position: relative;
                    transition: 0.5s ease-out;
                    text-align: center;
                    left: 0;
                }
            }

            .titre:hover {
                background: var(--color-accent);
                color: var(--color-primary);
                transition: 0.5s ease-out;
                text-decoration: none;
            }

            .video {
                max-height: 720px;
                height: 100%;
                width: 100%;
                border: solid var(--color-secondary) 20px;
                filter: grayscale(1) drop-shadow(2px 4px 6px black);
                transition: 0.5s ease-out;

                @media screen and (max-width: $breakpoint-tb) {
                    filter: grayscale(0) drop-shadow(2px 4px 6px black);
                    border: solid var(--color-secondary) 10px;
                }

                @media screen and (max-width: $breakpoint-sm) {
                    height: fit-content;
                    filter: grayscale(0) drop-shadow(2px 4px 6px black);
                    border: solid var(--color-secondary) 10px;
                }
            }

            .video:hover {
                filter: grayscale(0);
                transition: 1s ease-out;
            }

            .btn {
                margin: auto;
                background: var(--color-secondary);
                padding: 10px 20px;
                position: absolute;
                bottom: 0;
                right: 5%;
                border: var(--color-white) 4px solid;
                color: var(--color-bg-primary);
                transition: 0.5s ease-out;
                z-index: 8;

                @media screen and (max-width: $breakpoint-sm) {
                    position: relative;
                    transition: 0.5s ease-out;
                    right: 0;
                }
            }

            .btn:hover {
                text-decoration: none;
                background: var(--color-accent);
                color: var(--color-primary);
                transition: 0.5s ease-out;
                border: var(--color-accent) 5px solid;
            }
        }
    }
}
