.swiper-pagination-bullets {
    display: flex;
    justify-content: center;
    position: static;
    transition: 0.5s ease-out;

    @media screen and (max-width: $breakpoint-sm) {
        //margin-bottom: 5vh;
    }
}
.swiper-pagination-bullet {
    --size: 20px;

    border: 2px solid var(--color-primary);
    border-radius: 100%;
    height: var(--size);
    margin: 0 5px;
    transition: 0.5s ease-out;
    width: var(--size);
}

.swiper-pagination-bullet-active {
    border-width: calc(var(--size, 20px) / 2);
    background: var(--color-accent, var(--color-accent));
    transition: 0.5s ease-out;
}

.swiper-button-prev,
.swiper-button-next {
    width: 50px;
    height: 50px;
    background-color: var(--color-primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-out;
    z-index: 5;
    //top: var(--swiper-navigation-top-offset, 50%);
    top: var(--swiper-navigation-top-offset, 94%);
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 16px;
    color: var(--color-bg-primary);
    transition: 0.5s ease-out;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    transform: scale(1.2);
    background-color: var(--color-accent);
    transition: 0.5s ease-out;
}

.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
    color: var(--color-primary);
    transition: 0.5s ease-out;
}

.slide-number {
    position: absolute;
    top: 50%;
    left: calc(50% - 50px); /* Ajuste si nécessaire */
    transform: translateY(-50%);
    font-size: 16px;
    color: var(--color-primary);
    z-index: 10;
}
