.page_contact {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;
        height: 100%;
        width: 100%;

        .contact {
            display: flex;
            flex-direction: column;
            font-family: var(--font-secondary);

            .infos_contact {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border: var(--color-secondary) 4px solid;
                padding: 20px;
                gap: 20px;

                .download {
                    font-weight: bold;
                }
            }

            .icones_reseaux {
                display: flex;
                height: 100%;

                ul {
                    display: grid;
                    grid-template-columns: auto auto;
                    grid-gap: 20px;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    list-style: none;
                    padding: 0;
                    padding-left: 80px;
                }
            }
        }

        .form {
            border: var(--color-secondary) 4px solid;
            padding: 20px;
        }
    }
}
