.cursor {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid var(--color-accent);
    transition: all 200ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    z-index: 1000;

    @media screen and (max-width: $breakpoint-sm) {
        display: none;
        opacity: 0;
    }
}

.cursor2 {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: var(--color-accent);
    opacity: 1;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width 0.3s, height 0.3s, opacity 0.3s;
    z-index: 1000;

    @media screen and (max-width: $breakpoint-sm) {
        display: none;
        opacity: 0;
    }
}

.hover {
    background-color: var(--color-accent);
    opacity: 0.5;
}

.cursorinnerhover {
    width: 50px;
    height: 50px;
    opacity: 0.5;
}
