footer {
    margin-top: 9vh;
    transition: 0.5s ease-out;

    @media screen and (max-width: $breakpoint-sm) {
        transition: 0.5s ease-out;
    }

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}
