.header {
    width: 100%;
    margin-bottom: 25px;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .menu {
            ul {
                list-style: none;
                display: flex;
                align-items: center;
                gap: 50px;
            }
        }
    }
}
