.header {
    width: 100%;
    margin-bottom: 30px;

    @media screen and (max-width: $breakpoint-tb) {
        margin: 0;
        transition: 1s ease-out;
    }

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .brand {
            transition: 0.5s ease-out;
        }

        .brand:hover {
            color: var(--color-accent);
            transition: 0.5s ease-out;
        }

        .menu {
            ul {
                list-style: none;
                display: flex;
                align-items: center;
                gap: 50px;

                /* Animation du soulignement au hover */
                li a {
                    position: relative;
                    color: var(--color-primary);
                    text-decoration: none;
                    padding-bottom: 5px;
                }

                li a::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                    background-color: var(--color-primary);
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: transform 0.5s ease-out;
                }

                li a:hover::before {
                    transform: scaleX(1);
                    transform-origin: left;
                }

                li a:hover {
                    color: var(
                        --color-primary
                    ); /* Change la couleur du texte au survol */
                }
            }
        }
    }
}

/* ==========================================================================
   header / component
   ========================================================================== */

.header__toggle {
    --bar-height: 6px;
    --bar-width: 40px;
    --bar-spacer: 8px;

    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    width: var(--bar-width);
    height: var(--bar-width);
    z-index: 20;
    position: relative;
    display: flex; /* Pour s'assurer que les spans sont enfants de .header__toggle */
    flex-direction: column;
    justify-content: space-between; /* Crée l'espace entre les barres */
}

.header__toggle span {
    background-color: #ffffff; /* Couleur des barres */
    border-radius: 3px;
    height: var(--bar-height);
    width: 100%;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.header__toggle span:nth-child(1) {
    transform: rotate(0); /* Aucune rotation initiale */
}

.header__toggle span:nth-child(2) {
    opacity: 1; /* Bar visible par défaut */
}

.header__toggle span:nth-child(3) {
    transform: rotate(0); /* Aucune rotation initiale */
}

/* Gestion de l'état du bouton quand le menu est actif */
.nav-is-active .header__toggle span:nth-child(1) {
    transform: rotate(45deg);
    top: 50%;
}

.nav-is-active .header__toggle span:nth-child(2) {
    opacity: 0;
}

.nav-is-active .header__toggle span:nth-child(3) {
    transform: rotate(-45deg);
    top: 50%;
}

/* Quand la classe 'nav-is-active' est présente, le menu s'affiche */
.nav-is-active .header nav {
    transform: translateY(0); /* Fait apparaître le menu */
}

@media screen and (min-width: 768px) {
    .header nav {
        position: relative;
        height: auto;
        width: auto;
        flex-direction: row;
        justify-content: flex-end;
        transform: none;
    }

    .header__toggle {
        display: none; /* Masque le toggle sur grands écrans */
    }

    .header nav ul {
        flex-direction: row;
        opacity: 1;
    }
}
