.un_projet {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;

        .carousel {
            .swiper-wrapper {
                display: flex;
                align-items: center;
                padding-bottom: 10vh;

                .projet1 {
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    gap: 50px;

                    .bloc1 {
                        max-width: 40%;

                        h1 {
                            background: var(--color-secondary);
                            color: var(--color-bg-primary);
                            padding: 15px;
                        }

                        h3 {
                            border: var(--color-secondary) 4px solid;
                            padding: 20px;
                            text-align: center;
                        }
                    }

                    .bloc2 {
                        max-width: 40%;

                        h2 {
                            background: var(--color-secondary);
                            color: var(--color-bg-primary);
                            padding: 15px;
                            text-align: right;
                        }

                        .description {
                            border: var(--color-secondary) 4px solid;
                            padding: 20px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            gap: 30px;

                            h3 {
                                text-align: center;
                            }

                            .icones {
                                width: 100%;
                                height: 100%;

                                ul {
                                    list-style: none;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    margin: 0;
                                    padding: 0;
                                    gap: 20px;
                                }
                            }
                        }
                    }
                }

                .projet2 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;

                    .galerie {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 20px;

                        .explication {
                            border: var(--color-secondary) 4px solid;
                            height: 100%;
                            max-width: 40%;
                            text-align: center;

                            p {
                                padding: 20px;
                            }
                        }

                        img {
                            height: 100%;
                            max-width: 50vh;
                            border: solid var(--color-secondary) 20px;
                        }
                    }
                }

                .projet3 {
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    gap: 5%;

                    .bloc_video {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 20px;

                        .video {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .frame {
                                position: absolute;
                                z-index: -1;
                            }
                        }

                        .explication {
                            border: var(--color-secondary) 4px solid;
                            height: 100%;
                            text-align: center;

                            p {
                                padding: 20px;
                            }
                        }
                    }

                    .defis {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        justify-content: center;

                        h2 {
                            background: var(--color-secondary);
                            color: var(--color-bg-primary);
                            padding: 15px;
                            text-align: right;
                        }

                        h3 {
                            border: var(--color-secondary) 4px solid;
                            padding: 20px;
                            text-align: center;
                        }

                        .btn {
                            background: var(--color-secondary);
                            padding: 10px 20px;
                            border: var(--color-accent) 4px solid;
                            color: var(--color-bg-primary);
                            transition: 1s ease-out;
                        }

                        .btn:hover {
                            text-decoration: none;
                            background: var(--color-accent);
                            color: var(--color-primary);
                            transition: 1s ease-out;
                        }
                    }
                }
            }
        }
    }
}
