/* ==========================================================================
   BODY / ELEMENT
   Le body permet d'initialiser les propriétés générales de la page.
   Les éléments de la page vont hérités des propriétés inscrite dans body
   ========================================================================== */

body {
    font-family: var(--font-primary);
    font-size: var(--font-size-content);
    color: var(--color-black);
    background: var(--color-bg-primary);
    line-height: 1.6;
    transition: 1s ease-out;

    cursor: none;

    @media screen and (max-width: $breakpoint-tb) {
        --font-size-h1: 3rem;
        --font-size-h2: 2.3rem;
        --font-size-h3: 1.75rem;
        --font-size-btn: 2rem;
        --font-size-p: 2rem;
        --font-size-menu: 2rem;
        --font-size-footer: 1.75rem;
        transition: 1s ease-out;
    }

    @media screen and (max-width: $breakpoint-sm) {
        --font-size-h1: 2rem;
        --font-size-h2: 1.7rem;
        --font-size-h3: 1.5rem;
        --font-size-btn: 1.7rem;
        --font-size-p: 1.4rem;
        --font-size-menu: 2rem;
        --font-size-footer: 1.5rem;
        transition: 1s ease-out;
    }
}
