/* ==========================================================================
   HEADINGS / ELEMENT
   ========================================================================== */

h1,
h2,
h3,
.btn,
p,
.menu,
.footer_txt {
    font-family: var(--font-secondary);
    line-height: 1.1;
    margin: 0;
}

h1 {
    font-family: var(--font-primary);
    font-size: var(--font-size-h1);
    line-height: 1;
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

.btn {
    font-size: var(--font-size-btn);
}

p {
    font-size: var(--font-size-p);
}

.menu {
    font-size: var(--font-size-menu);
}

.footer_txt {
    font-size: var(--font-size-footer);
}

em {
    font-style: italic;
}
