/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Kaisei Decol', sans-serif;
    --font-secondary: 'DM Sans', monospace;

    --font-size-content: #{typo(16px, 18px)};

    /// Grosseur des textes
    --font-size-h1: #{typo(28px, 42px)};
}
