/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Kaisei Decol', sans-serif;
    --font-secondary: 'DM Sans', monospace;

    --font-size-content: 1.75rem;

    /// Grosseur des textes
    --font-size-h1: 3.5rem;
    --font-size-h2: 2.5rem;
    --font-size-h3: 2rem;
    --font-size-btn: 2.5rem;
    --font-size-p: 2.5rem;
    --font-size-menu: 2rem;
    --font-size-footer: 1.75rem;
}
